/*****reset*****/
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
nav, section, aside, footer, header,article {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
/***** for html5*****/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block
}

body {
	font-family: Arial, Verdana, sans-serif;
	width: 100%;
	position: absolute; 
	width: 80%;
	left: 10%;	
}
header h1, nav, nav ul, nav ul li {
	display: inline;
}

/*****header*****/
header{ 
	background-color: rgb(245,245,245);
	border-bottom: 2px solid rgb(234,234,234);
	color: #777777;
	height: 35px;
	text-align: left; 
}

header h1 {
	position: absolute;
	left: 30px;
	padding-top: 7px;
	font-weight: 500;
}
nav {
	position: absolute;
	right: 30px;
	padding-top: 7px;
}
nav ul li {
	margin: 0px 10px;
	padding: 0px;
	font-size: 11px;
	display: inline;
}
nav li a:link, nav li a:visited{
	color: #777777;;
	text-decoration: none;
}
nav li a:hover, nav li a:active{
	color: #777789;;
	text-decoration: none;
}

/*****left side*****/
#left {
	float: left;
	width: 200px;
	height: auto;
}
.left_container {
	border: 1px solid rgb(234,234,234);
	padding: 10px 8px;
	margin: 20px 1px;
	color: rgb(36,137,204);
	background-color: rgb(245,245,245);
}
.left_container--up{
	background-color: #fff;
}
aside h2{
	margin: 10px 1px;
	font-size:20px;
}
.left_container_form {
	margin: 10px 0;
}
#left input, #right section input {
	position: relative;
	width: 150px;
	left: 5px;;
	border: 2px solid rgb(234,234,234);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: left;
	line-height: 160%;
}
#left button{
	float:right;
	margin: 5px;
	margin-right:11px;
	border: 2px solid rgb(234,234,234);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	line-height: 150%;
}

.left_container ul li{
	clear: right;
	list-style-type: none;
	text-align: left;
	font-size: 12px;
	font-weight: 600;
	line-height:normal;
}
.left_container--bottom ul li{	
	border-bottom: 1px solid rgb(234,234,234);
}
.left_container a{
	display:block;
	color: rgb(36,137,204);
	background-color: rgb(245,245,245);
	line-height: 150%;
	text-decoration: none; 
	margin: 5px 3px;
	padding: 5px 7px;
}
.left_container--up a{
	background-color: #FFF;
}
.left_container ul li a:hover, .left_container ul li a:active{
	color: #FFF;
	background-color: rgb(36,137,204);
}

.left_container_breaker{
	border-bottom: 1px solid rgb(234,234,234);
}
aside section h3{
	font-size: 12px;
	color: #777777;
	padding: 5px 2px;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
}

/*****right side****/
#right {
	position:absolute;
	left: 260px;
   	height: auto;
	line-height: 120%;
}
#right h2{
	margin: 10px 10px ;
	font-size: 20px;	
}
#right section {
	margin: 20px 0 10px 10px;
	text-align:center;
	border-left: 1px solid rgb(234,234,234);
	border-right: 1px solid rgb(234,234,234);
	border-top: 2px solid rgb(234,234,234);
}
#right section form{
	margin:8px;
	text-align:center;
}
#right section button{
	margin: 5px;
	border: 2px solid rgb(234,234,234);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	line-height: 150%;
}
#right article{
	display:list-item;
	margin: 20px 10px;
	padding: 10px 0 30px 0;
	border-bottom: 2px solid rgb(234,234,234);
}
#right article h1,#right article h1 a{
	font-size: 16px;
	color: rgb(36,137,204);
	font-weight:700;
	line-height: 120%;
	text-decoration: none;
}
#right article h2{
	font-size: 12px;
	font-weight:400;
}
.source{
	color: rgb(36,137,204);
}
.author{
	font-style:italic;
}
#right h2 a{
	color: rgb(36,137,204);
	position:absolute;
	right: 25px;
	text-decoration: none;
}
#right h2 a:hover, #right h2 a:active{
	color: #000;
}
#right h3{
	display:inline-block;
	background-color: #000;
	color: #fff;
	font-size:12px;
	padding: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#right p{
	padding: 10px 0;
	font-size:12px;
	line-height: 130%;
}

/***** footer*****/
footer{
	clear: both;
	font-size: 12px;
	position: relative;
	text-align: center;
	background-color: rgb(240,240,240);
	padding: 25px 0;
	line-height: 110%;
}
footer a{
	color:#000;
	text-decoration:none;
}
footer a:link, footer a:visited{
	text-decoration:none;
}
